
<div class="success apply">
      {{#if applies.length}}
        {{#each applies}}
          <h3>{{this}}</h3>
        {{/each}}
      {{/if}}
    </div>
<div class="page band detail">
    <h3>Name:</h3> <p>{{band.name}}</p>
    <h3>Instruments needed:</h3><p>{{band.instrument_needed}}</p>
    <h3>Owner:</h3> <p>{{user.username}}</p>
    <h3>Members:</h3> <p>{{band.member}}</p>
    <h3>Genre:</h3> <p>{{band.genre}}</p>
</div>
{{#if owner}}
<div class="field">
    <a href="/apply/{{band._id}}">View Applications</a>
</div>  
{{/if}}
{{#unless owner}}
{{#unless alreadyApplied}}
<div class="field">
    <form method="POST" action="/band/apply/{{band._id}}">
        <button type="submit" class="btn-default btn-lg" name="join-btn">Join</button>
    </form>
</div>
{{/unless}}
{{/unless}}    