
<div class="page band detail">
    <h3><u>Name:</u> {{band.name}}</h3>
    <h3><u>Instruments needed:</u> {{band.instrument_needed}}</h3>
    <h3><u>Members:</u> {{band.member}}</h3>
    <h3><u>Genre:</u> {{band.genre}}</h3>
</div>
{{#if owner}}
<div class="field">
    <a href="/band/apply/{{band._id}}">View Applications</a>
</div>  
{{/if}}
{{#unless owner}}
<div class="field">
    <form method="POST" action="/band/apply/:id">
        <button type="submit" class="btn-default btn-lg" name="join-btn">Join</button>
    </form>
</div>
{{/unless}}  